{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  Votre Panier
{% endblock %}

{% block content %}
  <h1>Votre Panier</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>Image</th>
        <th>Produit</th>
        <th>Quantité</th>
        <th>Retirer</th>
        <th>Prix unitaire</th>
        <th>Prix</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
              <form action="{% url "cart:cart_add" product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                <input type="submit" value="Mise à jour">
                {% csrf_token %}
              </form>
            </td>
            <td><a href="{% url "cart:cart_remove" product.id %}">Retirer</a></td>
            <td class="num">{{ item.price }} DH</td>
            <td class="num">{{ item.total_price }} DH</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num">{{ cart.get_total_price }} DH</td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url "shop:product_list" %}" class="button light">Continuer vos achats</a>
    <a href="{% url "orders:order_create" %}" class="button">
      Passer la commande
    </a>
  </p>
{% endblock %}