{% extends "shop/base.html" %}

{% block title %}
  Passer la commande
{% endblock %}

{% block content %}
  <h1>Passer la commande</h1>

  <div class="order-info">
    <h3>Votre commande</h3>
    <ul>
      {% for item in cart %}
        <li>
          {{ item.quantity }}x {{ item.product.name }}
          <span>{{ item.total_price }} DH</span>
        </li>
      {% endfor %}
    </ul>
    <p>Total: {{ cart.get_total_price }} DH</p>
  </div>

  <form action="." method="post" class="order-form">
    {{ form.as_p }}
    <p><input type="submit" value="Confirmer"></p>
    {% csrf_token %}
  </form>
{% endblock %}