<html> 
<body> 
  <h1>Ma Boutique</h1> 
  <p> 
    Facture no. {{ order.id }}</br> 
    <span class="secondary"> 
      {{ order.created|date:"M d, Y" }} 
    </span> 
  </p> 
 
  <h3>Facturer à</h3> 
  <p> 
    {{ order.first_name }} {{ order.last_name }}<br> 
    {{ order.email }}<br> 
    {{ order.address }}<br> 
    {{ order.postal_code }}, {{ order.city }} 
  </p> 
 
  <h3>Articles achetés</h3> 
  <table> 
    <thead> 
      <tr> 
        <th>Produit</th> 
        <th>Prix</th> 
        <th>Quantité</th> 
        <th>Coût</th> 
      </tr> 
    </thead> 
    <tbody> 
      {% for item in order.items.all %} 
        <tr class="row{% cycle "1" "2" %}"> 
          <td>{{ item.product.name }}</td> 
          <td class="num">${{ item.price }}</td> 
          <td class="num">{{ item.quantity }}</td> 
          <td class="num">${{ item.get_cost }}</td> 
        </tr> 
      {% endfor %} 
      <tr class="total"> 
        <td colspan="3">Total</td> 
        <td class="num">${{ order.get_total_cost }}</td> 
      </tr> 
    </tbody> 
  </table> 
     
  <span class="{% if order.paid %}paid{% else %}pending{% endif %}"> 
    {% if order.paid %}Paid{% else %}En attente de paiement{% endif %} 
  </span> 
</body> 
</html> 