{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% block title %}Ma Boutique{% endblock %}</title>
  <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
  <div id="header">
    <a href="/" class="logo">Ma boutique</a>
  </div>
  <div id="subheader">
      {% with total_items=cart|length %}
      {% if cart|length > 0 %}
        Votre panier: 
        <a href="{% url "cart:cart_detail" %}">
          {{ total_items }} article{{ total_items|pluralize }},
          {{ cart.get_total_price }} DH
        </a>
      {% else %}
        Votre panier est vide.
      {% endif %}
    {% endwith %}
  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>